<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--datasource for MySQL  configuration -->
    <bean id="MysqldataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/husbit"/>
        <property name="username" value="root"/>
        <property name="password" value="mysql"/>

    </bean>



    <bean id="passEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

<!--    <bean id="jdbcUserService" class="com.bfs.husbit.weld.HusbitJdbcUserDetailsManager">-->
    <bean id="jdbcUserService" class="org.springframework.security.provisioning.JdbcUserDetailsManager">
        <property name="dataSource" ref="MysqldataSource"/>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="usersByUsernameQuery"
                    value="SELECT username, password, enabled FROM appuser WHERE username = ?"/>
        <property name="authoritiesByUsernameQuery">
            <value>
                SELECT apu.username , apr.rolename FROM appuser apu
                JOIN approle apr ON apu.approle_id = apr.id
                WHERE apu.username = ?
            </value>
        </property>
         
        <property name="changePasswordSql" value=" UPDATE appuser SET password = ? where username = ?"/>
        <property name="userExistsSql" value="SELECT username FROM appuser WHERE username = ?"/>
        
    </bean>


</beans>
